<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Women's Tech Forum</title>
  <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <nav>
        <ul>
          <div class="flex-container">
          <div class="homenav">
          <li id="homenav"><a href="/">Women's Tech Forum</a></li>
          </div>
          <div class="othernav">
          <li><a href="news.asp">News</a></li>
          <li><a href="contact.asp">Contact</a></li>
          <li><a href="about.asp">About</a></li>
          </div>
          </div>
      </ul>
        {{!-- {{#if loggedIn}}
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}} --}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
      <a href="/contact">Contact Us</a>
    </footer>
  </div>
  {{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>