<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Women's Tech Forum</title>
  <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
  <div id="container">
    <header>
      <h5>
        <a href="/">Women's Tech Forum</a>
      </h5>
    </header>

    {{!-- NAVBAR --}}
    <ul id="navlist">
        <li id="active">
          <a id="current" href="/">Home</a>
        </li>
        <li>
          <a href="/resources">Resources</a>
        </li>
            {{#if loggedIn}}
        <li>
          <a href="/favorites">Favorites</a>
        </li>
        <li>
          <a href="/profiles/{{user_id}}">Profile</a>
        </li>
        <li>
          <button id="logout" class="btn-no-style">Logout</button>
        </li>
            {{else}}
        <li><a href="/login">Login</a></li>
            {{/if}}
    </ul>

    {{!-- SIDEBAR --}}
    <div id="sidebar-a">
      <h2><a href="/resources">Resources</a></h2>
    </div>

    
    <main id="content">
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
      <a href="/contact">Contact Us</a>
    </footer>
  </div>
  {{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>