<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Women's Tech Forum</title>
  <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
          <h5>
          <a href="/">Women's Tech Forum</a>
          </h5>
      <nav>
        <ul>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/contact">Contact</a></li>
            {{#if loggedIn}}
            <li><a href="/profiles/{{user_id}}">Profile</a></li>
            <li><button id="logout" class="btn-no-style">Logout</button></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            {{/if}}
        </ul>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
      <a href="/contact">Contact Us</a>
    </footer>
  </div>
  {{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>