* {
    box-sizing: border-box;
  }

main {
  padding: 20px;
  margin-bottom: 20px;
}



ol, #logout {
  all: unset;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0px;
    text-align: left;
    font: 100% arial, tahoma, "Trebuchet MS", verdana, arial, verdana, sans-serif;
}

#container {
  width: 100%;
  width: 100%;
  width: 99%;
  border: 0px solid #eee;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  line-height: 1.5em;
}
#banner {
  height: 175px;
  padding: 0;
  margin-bottom: 20px;
  background: rgb(190, 215, 173) ;
  color: #333;
}

header {
  padding-left: 20px;
  padding-right: 20px; 
  background-color:   #6A9662;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav ul {
    list-style-type: none;
}

/* TOP NAVIGATION */
#navlist {
  width: 100%;
  padding: 4px 5px 5px 0;
  margin: 0 0 20px 0;
  text-align: left;
  letter-spacing: 3px;
  color: #fff;
  background: #476042;
  }
  #navlist li {
  list-style: none;
  margin: 0;
  display: inline;
  }
  #navlist li a {
  padding: 5px .75em;
  margin: 0;
  color: #fff;
  background: #476042;
  text-decoration: none;
  }
  #navlist li a:link { color: #fff;
  background: #476042;
  }
  #navlist li a:visited {
  color: #fff;
  background: #476042;
  }
  #navlist li a:hover {
  color: #000;
  background: #6A9662;
  }
  #navlist li a#current {
  color: #fff;
  background:#6A9662;
  }

a {
    text-decoration: none;
    color: #F17C0B;
    background-color: #fff;
    }
a:hover, #logout:hover {
    text-decoration:underline;
    color: #666;
    background-color:#fff;
    }

header a, #logout {
    text-decoration: none;
    color: #fff;
    background-color: #6A9662;
}

header a:hover, #logout:hover {
  color: #fff;
  background-color: #476042;
}

header h5 {
padding-top: 5px;
}

header h5 a {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  background-color: #6A9662;
  color: #fff;
}

header h5 a:hover {
  background-color: #6A9662
}

header nav {
  display: flex;
  align-items: center;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-right: 20px;
}


header nav ul li a, #logout {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover, #logout:hover {
    border-radius: 15px;
}

  
button:not(#logout) {
    background-color: #476042;
    /* margin: 16px; */
    border: 2px;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
button:not(#logout):hover {
    background-color: #3486eb;
  }
  
h1 {
    font-size: 200%;
    letter-spacing: 5px;
    color:#6A9662;
    background: #fff;
    }
h2 {
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 10px;
    color:#476042;
    background: #fff;
    }
h3 {
    padding: 5px;
    text-transform: uppercase;
    font-size: 110%;
    color:#fff;
    background: #6A9662;
    }
h4 {
    padding: 5px;
    text-transform: uppercase;
    font-size: 110%;
    color:#fff;
    background: #F17C0B;
    }  

.post-list {
    list-style-type: none;
  } 
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #6A9662;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
    margin-bottom: 2%;
    font-style: italic;
  }

  .title-input {
    margin: auto;
  }

  .body-input {
    margin: auto;
  }
  
  form > div {
    margin-bottom: 2%;
  }
/*   
  form label {
    display: block;
  } */
  
.wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }  
    
            /* LEFT MENU */
    .menu ul li {
    line-height: 1.8em;
    margin: 0 10px 0 0;
    padding: 0;
    list-style-type: square;
    color: #6A9662;
    background: inherit;
    }
    .menu ul li a {
    color: #F17C0B;
    background: inherit;
    }
    .menu ul li a:hover {
    color: #6A9662;
    background: inherit;
    } 
    
            /* MAIN CONTENT */
    #content {
    padding: 0 20px 0 20px;
    margin-left: 400px;
    margin-right: 60px;
    border-left: 1px dashed #333;
    color: #555;
    /* background-color: #fff; */
    }
    
    /* POSTS  */
 .post {
    /* margin-bottom: 8%; */
    line-height: 150%;
    font-style: italic;
    padding: 0;
    margin: 0;
  }

  .post-body {
    font-style: normal;
  }
  
  .post .title span {
    font-style: normal;
    font-size: 120%;
    color: #476042;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .upvote-btn {
    background-color: #197d0f;
    transition: background-color .1s;
  }
  
  .upvote-btn:hover {
    background-color: #1f9c13;
  }
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #fff5eb;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: 8px;
    opacity: .6;
  }
  
  #form-container {
    margin:auto;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 5px;
    width: 50vw;
  }

.form-inputs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title-inputs {
  width: 60%;
}

.body-inputs {
  width: 60%;
}

#post-title {
  width: 100%;
}

#post-body {
  width: 100%;
}

  /* .new-post input, .new-post textarea {
    width: 80vw;
  } */

  .new-post-title {
    text-align: center;
  }

  #post-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  #submit-post {
    width: 30%;
    padding: 0;
    margin: 0;
  }

  .category-selection {
    display: flex;
    align-items: center;
  }

  .input-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .login-form {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    justify-content: center;
  }

  .login-form div {
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    justify-content: center;
  }

  .login-form h1 {
    text-align: center;
    width: 60vw;
  }

  .login-form button {
    width: 300px;
  }

  .contact-us p {
    color: #476042;
  }

  .contact-us h1 {
    margin: 0;
    margin-top: 10px;
  }

  .categories {
    margin-bottom: 5%;
  }
    
		/* LEFT SIDEBAR */
#sidebar-a {
  float: left;
  width: 400px;
  margin-right: 5px;
  margin-left: 5px; 
  padding: 5px;
  color: #666;
  background-color: #fff;
}
    
            /* FOOTER */
    footer {
    clear: both;
    padding: 5px;
    margin: 0;
    background-color: #476042;
    color: #fff;
    position:fixed;bottom:0;left:0;right:0;height:30px;
    }
    footer a {
    text-decoration: none;
    color: #fff;
    background-color:#476042;
    }
    footer  a:hover {
    color: #fff;
    background-color:#476042;
    }


    
            /* LINKS */
    a {
    text-decoration: none;
    color: #F17C0B;
    background-color: #fff;
    }
    a:hover {
    text-decoration:underline;
    color: #666;
    background-color:#fff;
    }
   
            /* IMAGE PROPERTIES
    .border {
    padding: 10px;
    margin: 10px;
    border: 1px solid #476042;
    }
    .imgleft {
    float: left;
    border: 1px solid #90b905;
    margin: 5px 10px 10px 15px;
    padding: 5px;
    }
    
          */

/* * {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
  }
  
  a {
    text-decoration: none;
    color: #225ca3;
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: #3486eb;
  }
  
  button {
    background-color: #225ca3;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #3486eb;
  }
  
  .post-list {
    margin: 0;
    padding: 0;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }
  
  header h1 {
    font-size: 1em;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #3486eb;
  }
  
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .upvote-btn {
    background-color: #197d0f;
    transition: background-color .1s;
  }
  
  .upvote-btn:hover {
    background-color: #1f9c13;
  }
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #fff5eb;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .new-post-form input {
    width: 300px;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  } */



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width:980px) {

  header h5 a {
      font-size: 25px;
  }

  header nav ul li a,  #logout {
      font-size: 20px;
  }

  header {
    padding-bottom: 0;
    justify-content: space-around;
}

.login-form {
  margin-left: 50px;
  margin-right: 50px;
}
}                  

@media screen and (max-width: 575px) {   
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
}

header h1 {
    width: 100%;
    text-align: center;
}

header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}

header nav ul li a, #logout {
    font-size: 19px;
}

#submit-post {
  /* width: 80vw; */
  margin-top: 10px;
}

#post-row {
  justify-content: center;
}

#form-container {
  justify-content: center;
}

.login-form {
  margin-left: 20px;
  margin-right: 20px;
}
}