<form class="contact-us">
  <label for="users-name">Your Name</label>
  <input name="users-name" type="text">
  <label for="users-email">Your Email</label>
  <input name="users-email" type="text">
  <label for="users-message">Any Comments or Concerns?</label>
  <input name="users-message" type="text">
  <button type="submit">Submit</button>
</form>
<script src="/javascript/mailer.js"></script>
