{{#if homePage}}
{{#if loggedIn}}
<div id="form-container">
  <form class="new-post">
    <h1 class="new-post-title">NEW POST</h1>
    <div class="form-inputs">
      <div class="title-inputs">
        <label for="post-title">Title</label>
        <br>
        <input name="post-title" type="text" id="post-title">
        <br>
      </div>
      <div class="body-inputs">
        <label for="post-body">Body</label>
        <br>
        <textarea name="post-body" type="text" id="post-body"></textarea>
      <br>
      </div>
    </div>
    <div id="post-row">
      <div class="category-choices">
        <label for="categories">Choose a Category:&nbsp;</label>
        <select name="categories" id="categories">
          {{#each categories as |category|}}
          <option value='{{category}}'>{{category}}</option>
          {{/each}}
        </select>
      </div>
      <button type="submit" id="submit-post">Post</button>
    </div>
  </form>
  </div>
  {{/if}}
  {{/if}}
<h5 id="headline">{{headline}}</h5>
<ol class="post-list">
 {{#each posts as |post|}}
  <li>
    {{> post-info post}}
  </li>
  {{/each}}
</ol>
<img src="/images/headshot.jpeg">

{{#if homePage}}
{{#if loggedIn}}
<script src="/javascript/newpost.js"></script>
{{/if}}
{{/if}}
