{{#if homePage}}
{{#if loggedIn}}
<div id="form-container">
  <form class="new-post">
    <h1 class="new-post-title">NEW POST</h1>
        <label for="post-title">Title</label>
        <br>
        <input name="post-title" type="text">
        <br>
        <label for="post-body">Body</label>
        <br>
        <textarea name="post-body" type="text"></textarea>
      <br>
    <div id="post-row">
        <label for="categories">Choose a Category:&nbsp;&nbsp;</label>
        <select name="categories" id="categories">
          {{#each categories as |category|}}
          <option value='{{category}}'>{{category}}</option>
          {{/each}}
        </select>
      <button type="submit" id="submit-post">Post</button>
    </div>
  </form>
  </div>
  {{/if}}
  {{/if}}
<h1 id="headline">{{headline}}</h1>
<ol class="post-list">
 {{#each posts as |post|}}
  <li>
    {{> post-info post}}
  </li>
  {{/each}}
</ol>

{{#if homePage}}
{{#if loggedIn}}
<script src="/javascript/newpost.js"></script>
{{/if}}
{{/if}}
