<h1>Resources</h1>
<div class="menu">
    <h2>Organizations</h2>
    <ul>
        <li>
            <a href="https://www.shecancode.io/">SheCanCode</a>
        </li>
        <li>
            <a href="https://www.ncwit.org/">National Center for Women and Information Technology</a>
        </li>
        <li>
            <a href="https://anitab.org/">AnitaB.org</a>
        </li>
        <li>
            <a href="https://witi.com/">WITI</a>
        </li>
        <li>
            <a href="https://swe.org/">Society of Women Engineers</a>
        </li>
        <li>
            <a href="https://www.techwomen.org/">TechWomen</a>
        </li>
    </ul>
<h2>Career</h2>
    <ul>
        <li>
            <a href="https://www.hiretechladies.com/">Tech Ladies</a>
        </li>
        <li>
            <a href="http://therefineryct.com/#home">The Refinery</a>
        </li>
        <li>
            <a href="https://www.adaslist.co/">Ada's List</a>
        </li>
        <li>
            <a href="https://girlgeek.io/">Girl Geek</a>
        </li>
        <li>
            <a href="https://www.womentech.net/">WomenTech Network</a>
        </li>
    </ul>
    <h2>Reading</h2>
    <ul>
        <li>
            <a href="https://switchthefuture.com/">SWITCH</a>
        </li>
        <li>
            <a href="https://girlsintech.org/blog/">Girls in Tech</a>
        </li>
        <li>
            <a href="https://www.womenwhocode.com/blog">Women Who Code</a>
        </li>
        <li>
            <a href="https://womenlovetech.com/category/technology/">Women Love Tech</a>
        </li>
    </ul>
</div>