<form class="signup-form login-form">
  <h1>SIGN UP</h1>
  <div>
    <label for="username-signup">username:&nbsp;&nbsp;</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:&nbsp;&nbsp;</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:&nbsp;&nbsp;</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
  <p>Already have an account? <a href="/login">login</a> here</p>
</form>
<script src="/javascript/signup.js"></script>
